<div class="container-fluid bg-dark text-light mt-5">

    <div class="container p-5 ">

        <div class="row mt-5">

            <div class="col mt-5">
                <h5>SITEMAP</h5>
                <mat-list role="list">
                    <mat-list-item class="text-primary" role="listitem">Home</mat-list-item>
                    <mat-list-item class="text-primary" role="listitem">Service</mat-list-item>
                    <mat-list-item class="text-primary" role="listitem">About</mat-list-item>
                </mat-list>
            </div>
            <div class="col mt-5">
                <h5>CONTACT US</h5>
                <!-- <h6>CALL US </h6> -->
                <mat-list role="list">
                    <mat-list-item class="text-light" role="listitem">
                        <p style="font-size: 2vmin;">
                            <i class="fa fa-mobile" aria-hidden="true" ></i> &nbsp; - (+91) -
                        756 - 385 - 1608
                        </p>
                    </mat-list-item>
                    <mat-list-item class="text-light" role="listitem">
                        <p style="font-size: 2vmin;"><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp; - vikasroy75638@gmail.com</p>
                    </mat-list-item>
                </mat-list>

            </div>
            <div class="col mt-5">
                <h5>SOCIAL</h5>
                <mat-list role="list">
                    <mat-list-item class="text-primary" role="listitem">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-instagram" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-pinterest-square" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-github-square" aria-hidden="true"></i>
                    </mat-list-item>
                </mat-list>
            </div>

        </div>

        <h1 class="header mt-5"
            style="font-size:8vmin; letter-spacing: 3px;text-shadow: 2px 2px 5px red;font-family: 'Zen Tokyo Zoo', cursive;">
            <u>
                Get In Touch
            </u>
        </h1>

    </div>

</div>