.spinner {
    margin: 0 auto;
}

.card-header h5{
    color: #e1875c;
}

ul li p a{
    color: #bd2130;
    text-decoration: none;
    font-weight: 410;
}
ul li p a:hover{
    color: #6c41a3;
    text-decoration: none;
}